*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: system-ui, sans-serif;
  background-image: linear-gradient(45deg, rgb(252, 218, 155), #c4c4fd);
}

.app {
  min-height: 100vh;
  position: relative;
}

header {
  width: min(75rem, 80vw);
  margin-inline: auto;
  padding-block: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 500ms ease-in-out;
  & .logo {
    width: 10rem;
  }
  & .search-icon {
    width: min(30rem, 40%);
    & .search {
      width: 100%;
      display: flex;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      & .search__input {
        flex-grow: 1;
        border: none;
        outline: none;
        padding: 0.5em 1em;
        font-size: 1rem;
        border-right: 1px solid #ddd;
      }
      & button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        font-size: 1.5rem;
        padding-inline: 0.5em;
      }
    }
  }
}

.icon-cart {
  position: relative;
  pointer-events: auto;
  cursor: pointer;
  & i {
    font-size: 3rem;
  }
  & span {
    position: absolute;
    background-color: red;
    top: 50%;
    right: -0.5em;
    width: 1.75em;
    aspect-ratio: 1;
    border-radius: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
}

main {
  width: min(75rem, 80vw);
  min-height: 100vh;
  margin-inline: auto;
  display: grid;
  place-items: center;
}

.sneakerCard {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #eeeee6;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 2em;
  pointer-events: auto;
  .size-wrapper {
    & p {
      font-weight: 700;
      margin-bottom: 0.5em;
    }
  }
  & .color-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 2rem);
    flex-wrap: wrap;
    gap: 1em;
    & p {
      grid-column: 1/-1;
      font-weight: 700;
    }
    & .sneakerCard__colors {
      outline: 1px solid black;
      background-image: linear-gradient(-45deg, var(--c1) 50%, var(--c2) 50%);
      width: min(1.25rem, 2rem);
      aspect-ratio: 1;
      cursor: pointer;
    }
  }
  & .sneakerCard__sizes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 2rem);
  }

  & .sneakerCard__quantity-price {
    display: flex;
    justify-content: space-between;
    & .quantity__wrapper {
      width: 40%;
      display: grid;
      grid-template-columns: 10% 20% 10%;
      gap: 1rem;
    }
  }
  .sneakerCard__btn {
    align-self: center;
    width: 100%;
    padding: 1em 1.5em;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-inline: auto;
    cursor: pointer;
  }
}
