*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: system-ui, sans-serif;
  background-image: linear-gradient(45deg, rgb(252, 218, 155), #c4c4fd);
}

.app {
  min-height: 100vh;
  position: relative;
}

header {
  width: min(75rem, 80vw);
  margin-inline: auto;
  padding-block: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 500ms ease-in-out;
  & .logo {
    width: 10rem;
  }
  & .search-icon {
    width: min(30rem, 40%);
    & .search {
      width: 100%;
      display: flex;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      & .search__input {
        flex-grow: 1;
        border: none;
        outline: none;
        padding: 0.5em 1em;
        font-size: 1rem;
        border-right: 1px solid #ddd;
      }
      & button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        font-size: 1.5rem;
        padding-inline: 0.5em;
      }
    }
  }
}

.icon-cart {
  position: relative;
  pointer-events: auto;
  cursor: pointer;
  & i {
    font-size: 3rem;
  }
  & span {
    position: absolute;
    background-color: red;
    top: 50%;
    right: -0.5em;
    width: 1.75em;
    aspect-ratio: 1;
    border-radius: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
}

.cart-tab {
  position: fixed;
  top: 0;
  right: -23.43em;
  bottom: 0;
  width: min(23.43rem, 100%);
  background-color: #353432;
  color: #fff;
  display: grid;
  grid-template-rows: 4.375rem 1fr 4.375rem;
  transition: all 500ms ease-in-out;
  & h2 {
    padding: 1.25em;
    margin: 0;
  }
  & .cart-tab__products {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  & .cart-tab__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    & button {
      border: none;
      font-weight: 700;
      background-color: #fff;
      cursor: pointer;
      transition: background-color 300ms ease-in-out;
      &:hover {
        background-color: #f1ebeb;
      }
      &:last-child {
        background-color: orange;
        &:hover {
          background-color: rgb(206, 138, 11);
        }
      }
    }
  }
}

main {
  width: min(75rem, 80vw);
  min-height: calc(100vh - 10rem);
  margin-inline: auto;
  display: grid;
  place-items: center;
  transition: transform 500ms ease-in-out;
}

.sneakerCard {
  max-width: 50rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #eeeee6;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 2em;
  pointer-events: auto;
  & .sneakerCard__img {
    max-width: 20rem;
    aspect-ratio: 1;
  }
  & .sneakerCard__info {
    gap: 1em;
    display: flex;
    flex-direction: column;
  }
  & .size-wrapper {
    & p {
      font-weight: 700;
      margin-bottom: 0.5em;
    }
  }
  & .color-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 2rem);
    flex-wrap: wrap;
    gap: 1em;
    & p {
      grid-column: 1/-1;
      font-weight: 700;
    }
    & .sneakerCard__colors {
      outline: 1px solid black;
      background-image: linear-gradient(-45deg, var(--c1) 50%, var(--c2) 50%);
      width: min(1.25rem, 2rem);
      aspect-ratio: 1;
      cursor: pointer;
    }
  }
  & .sneakerCard__sizes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 2rem);
  }

  & .sneakerCard__quantity-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .quantity__wrapper {
      width: 40%;
      display: flex;
      justify-content: space-between;
      & span {
        width: 3rem;
        background: none;
        border: none;
        padding: 0.5em 1em;
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
      }
      & button {
        background: none;
        border: none;
        & i {
          color: #353432;
          font-size: 2rem;
        }
      }
    }
    & .sneakerCard__price {
      font-weight: 700;
    }
  }
  & .sneakerCard__btn {
    align-self: center;
    width: 50%;
    padding: 1em 1.5em;
    background-color: #353432;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-inline: auto;
    text-transform: uppercase;
    cursor: pointer;
  }
}

/* Utility */
.hidden {
  display: none;
}

.app.active-cart .cart-tab {
  right: 0;
}

.app.active-cart header,
.app.active-cart main {
  transform: translateX(-6rem);
}
