*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: system-ui, sans-serif;
}

.app {
  width: 100vw;
  min-height: 100vh;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.card__wrapper {
  width: min(20rem, 80%);
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 2em;
}

/* .card__img { 
} */

.card__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  & .card__price {
    align-self: flex-end;
  }
  & .card__btn {
    align-self: center;
    width: 50%;
    padding: 1em 1.5em;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-inline: auto;
    cursor: pointer;
  }
}
