@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-image: radial-gradient(circle, #eeeeee, #fcf8e6);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

/* Navbar */

.accordion {
  --bs-accordion-active-bg: none;
  --bs-accordion-active-color: #ffc107;
  --bs-accordion-btn-focus-box-shadow: none;
}

.offcanvas {
  user-select: none;
}

input[type='checkbox'],
.search-btn {
  &:checked {
    background-color: #ffc107;
    border-color: #ffc107;
  }
  &:focus {
    box-shadow: 0 0 1px 1px #ffc107;
    border-color: #ffc107;
  }
}

.input-group-text {
  transition: border-color 150ms ease-in-out, background-color 150ms ease-in-out;
  &:hover {
    background-color: #ffc107;
    border-color: #ffc107;
    box-shadow: 0 0 1px 1px #ffc107;
  }
}

/* Hero */

.hero {
  background-image: url(../public/assets/images/bg.jpg);

  padding-top: 70px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  & .hero-wrapper {
    width: min(71.25rem, 80vw);
    min-height: 50%;
    background-color: #ffffff34;
    backdrop-filter: blur(5px);
    border: 2px solid #ffc107;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    z-index: 2;
    & h1 {
      color: #fff;
    }
  }
}

/* Cardbox */

.card {
  user-select: none;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
