@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btn-gradient: linear-gradient(#ffc107, #fde292);
  --btn-hover-gradient: linear-gradient(#fde292, #ffc107);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

body {
  background-image: radial-gradient(circle, #eeeeee, #fcf8e6);
  background-image: linear-gradient(
    135deg,
    #fde087,
    0%,
    #fcecbf 35%,
    #fff5dc 100%
  );
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  min-height: 4.5rem;
  background-color: #6c757dc7;
  backdrop-filter: blur(10px);
  & .navbar-brand {
    color: #fff;
  }
}

.accordion {
  --bs-accordion-active-bg: none;
  --bs-accordion-active-color: #ffc107;
  --bs-accordion-btn-focus-box-shadow: none;
}

.offcanvas {
  user-select: none;
}

input[type='checkbox'],
.search-input {
  &:checked {
    background-color: #ffc107;
    border-color: #ffc107;
  }
  &:focus {
    box-shadow: none;
    border-color: #ffc107;
  }
}

.search-btn {
  border-color: #dee2e6;
  color: #6c757d;
}

/* Hero */
.hero {
  background-image: url(../public/assets/images/bg-2.jpg);

  padding-top: 70px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  & .hero-wrapper {
    width: min(71.25rem, 80vw);
    min-height: 50%;
    background-color: #ffffff34;
    backdrop-filter: blur(5px);
    border: 2px solid #ffc107;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    z-index: 2;
    & h1 {
      color: #fff;
    }
  }
}

/* Cardbox */
.card-hover {
  user-select: none;
  transition: transform 300ms ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
& .card-body {
  font-size: 0.8rem;
  font-size: clamp(0.8rem, 0.7295774647887324rem + 0.300469483568075vw, 1rem);
  & .card-title,
  .btn {
    padding: 0.5em 0.25em;
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.7295774647887324rem + 0.300469483568075vw, 1rem);
  }
}

/* Utility */
.outlined-btns,
.full-btns,
.show-more-btns {
  transition: all 200ms ease-in-out;
}
.outlined-btns:hover,
.outlined-btns:focus {
  background-image: var(--btn-gradient);
}

.full-btns {
  background-image: var(--btn-gradient);
  transition: background-image 200ms ease-in-out;
}

.full-btns:hover,
.full-btns:focus {
  background-image: var(--btn-hover-gradient);
}

.show-more-btns:hover,
.show-more-btns:focus {
  background-image: linear-gradient(#0d6efd, #77abfa);
}
